* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
 #header{
 	background-color:#FF4080;
 	height: 100px;
 	padding-top: 20px;
 	text-align: center;
 	font-size: 50px;
 	font-weight: bold;

}
.bg1{

background-color:#26A69A;
	background-repeat: no-repeat;
	background-size: cover;
	height: 84.9vh;
}
.bg2{
	background-color: #B2DFDB;
	height:84.9vh;
	width: 750px;
}
#start{
	padding-left: 50px;
	padding-top: 20px;
}
#my{
	  border: 2px solid #000000;
     border-radius: 20px;
     font-size: 50px;
       font-weight: bold;
      padding:5px;
        width: 250px;
     height:70px; 
    background-color: #0097A7;
	transition: 0.5s;
}
#my:hover{
	background-color: #7C4DFF;
	font-size: 52px;
}
#count
{
	margin-left: 400px;
  margin-top: -70px;
}
#title
{
   border: 2px solid #000000;
     border-radius: 20px;
     font-size: 50px;
       font-weight: bold;
      padding:5px;
        width: 250px;
     height:70px; 
     	background-color:#FF8A65;
}
#detect{
	     margin-top: 10px;
	  border: 2px solid #000000;
     border-radius: 20px;
     font-size: 30px;
       font-weight: bold;
        padding-left: 250px;
        padding-top: 10px;
        padding-bottom: 40px;
        width: 750px;
     height: 25px;
     background-color:#FF4081;
}
#res{
	  margin-left: 900px;
	  margin-top: -300px;
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 20px;
   font-family: monospace;
   text-align: center;
     font-size: 30px;
     font-weight: bold;
     width: 250px;
     height: 100px;
     background-color:#D32F2F ;
}
#cl1{
	  margin-left: 60px;
	  margin-top: 20px;
	  border: 2px solid #000000;
    border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: yellow;
      transition: transform 1s;
    }
#cl1:hover{
             transform: translate(10px,10px); 
}
#cl2{

    margin-left: 300px;
    margin-top: -100px;
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: red;
        transition: transform 1s;
}
#cl2:hover{
    transform: translate(10px, 10px);     
}
#cl3{
       margin-left: 540px;
      margin-top: -100px;
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: pink;
        transition: transform 1s;
}
#cl3:hover{
    transform: translate(10px, 10px);     
}
#cl4{
	margin-left: 60PX;
	margin-top:30px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: blue;
        transition: transform 1s;
}
#cl4:hover{
    transform: translate(10px, 10px);     
}
#cl5{
	margin-left: 300PX;
	margin-top:-100px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: green;
        transition: transform 1s;
}
#cl5:hover{
    transform: translate(10px, 10px);     
}
#cl6{
	margin-left: 540PX;
	margin-top:-100px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: brown;
        transition: transform 1s;
}
#cl6:hover{
    transform: translate(10px, 10px);     
}
#cl7{
	margin-left: 60PX;
	margin-top:30px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: violet;
        transition: transform 1s;
}
#cl7:hover{
    transform: translate(10px, 10px);     
}
#cl8{
	margin-left: 300PX;
	margin-top:-100px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color: purple;
        transition: transform 1s;
}
#cl8:hover{
    transform: translate(10px, 10px);     
}
#cl9{
	margin-left: 540PX;
	margin-top:-100px; 
	  border: 2px solid #000000;
     border-radius: 20px;
   padding: 35px;
     font-size: 20px;
     font-weight: bold;
     width: 150px;
     height: 100px;
     background-color:gray;
        transition: transform 1s;
}
#cl9:hover{
    transform: translate(10px, 10px);     
}